@import "../../scss/spacing";
@import "../../scss/colours";
@import "../../scss/breakpoints";

.standardLayout {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.standardBackground {
  background-image: url(/assets/background-3.png);
}

.backgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.1;
  filter: blur(1.5px);
}

.mainContent {
  width: 100%;
  margin: auto;
  flex: 1 0 auto;
  max-width: px-to-rem(1100px);
  @include breakpointTablet {
    width: 75%;
  }
}

.mainFooter {
  flex-shrink: 0;
}
