@import "../../scss/spacing";
@import "../../scss/colours";

.base {
  margin: 0;
}

.brand {
  font-size: px-to-rem(18px);
  font-weight: 900;
  color: $site-white;
  font-family: DrukWide;
  text-shadow: 2px 2px 0px #000000, 1px 1px 0px #000000, 3px 4px 1px #000000,
    1px 1px 0px #000000;
}

.heading1 {
  font-size: px-to-rem(26px);
  font-weight: 900;
  color: $site-white;
  margin-bottom: px-to-rem(14px);

  -webkit-text-stroke-width: px-to-rem(1px);
  text-shadow: 5px 5px 0px $site-black, 4px 4px 0px $site-black,
    3px 3px 0px $site-black, 2px 2px 0px $site-black, 1px 1px 0px $site-black,
    -1px 1px 4px #000000;
}

.heroBody {
  font-size: px-to-rem(24px);
  font-weight: 400;
  line-height: px-to-rem(36px);
}

.body {
  font-size: px-to-rem(18px);
  font-weight: 400;
  line-height: px-to-rem(28px);
}

.small {
  font-size: px-to-rem(12px);
}
