@import "../../../scss/spacing";
@import "../../../scss/colours";
@import "../../../scss/breakpoints";

.boxContainer {
  margin-top: px-to-rem(10px);
  padding-top: px-to-rem(100px);
  position: relative;
  margin-bottom: px-to-rem(25px);
}

.backgroundBox {
  position: absolute;
  top: px-to-rem(25px);
  left: 0;
  width: 90%;
  height: 40%;
  background-color: $site-colour-primary;
  z-index: -1;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: $site-colour-primary;
    opacity: 0.5;
  }
}

.boxHeader {
  text-transform: capitalize;
}

.boxContent {
  width: 90%;
  background-color: $site-colour-secondary;
  padding: px-to-rem(10px);
  margin-left: auto;
  padding-bottom: px-to-rem(25px);
}

.topContentContainer {
  width: 87%;
  margin-left: auto;
}

// spacer for when there is no top content
.boxTopSpacer {
  padding-top: px-to-rem(100px);
}

.boxImage {
  position: absolute;
  top: 0;
  left: px-to-rem(20px);
  > img {
    width: px-to-rem(180px);
    height: 100%;
  }
}
