@import "../../../scss/spacing";
@import "../../../scss/colours";
@import "../../../scss/breakpoints";

.boxContainer {
  margin-top: px-to-rem(10px);
  position: relative;
  margin-bottom: px-to-rem(25px);
  @include breakpointTablet {
    padding-top: px-to-rem(100px);
  }
}

.backgroundBox {
  position: absolute;
  top: px-to-rem(25px);
  background-color: $site-colour-primary;
  z-index: -1;
  top: 0;
  left: 10%;
  width: 80%;
  height: 40%;
  &:after {
    content: "";
  }
  @include breakpointTablet {
    left: 0;
    width: 90%;
    height: 40%;
  }
}

.boxHeader {
  text-transform: capitalize;
}

.boxContent {
  background-color: $site-colour-secondary;
  padding: px-to-rem(10px);
  margin-left: auto;
  margin-top: px-to-rem(25px);
  padding-bottom: px-to-rem(25px);
  @include breakpointTablet {
    width: 90%;
    margin-top: unset;
  }
}

.topContentContainer {
  margin-left: auto;
  @include breakpointTablet {
    width: 87%;
  }
}

// spacer for when there is no top content
.boxTopSpacer {
  padding-top: px-to-rem(100px);
}

.boxImage {
  display: flex;
  justify-content: center;
  > img {
    width: px-to-rem(180px);
    height: 100%;
  }
  @include breakpointTablet {
    position: absolute;
    top: 0;
    left: px-to-rem(20px);
  }
}
