@import "../../scss/spacing";
@import "../../scss/colours";
@import "../../scss/breakpoints";

.navBarContainer {
  display: flex;
  justify-content: space-between;
  border-bottom: px-to-rem(2px) solid $site-black;
  background-color: $site-white;
  height: px-to-rem(54px);
}

.brandContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  border-right: px-to-rem(2px) solid $site-black;
  padding: 0 px-to-rem(25px);
  flex-shrink: 0;
  background-color: $site-colour-primary;
  &:hover {
    background-color: $site-white;
    text-decoration: none;
  }
}

.hamburgerMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 px-to-rem(25px);
  flex-shrink: 0;
  cursor: pointer;
  &:hover {
    background-color: $site-white;
    text-decoration: none;
  }
  @include breakpointTablet {
    display: none;
  }
}

.feedbackBtn {
  color: $site-white;
  cursor: pointer;
  background-color: $site-black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: px-to-rem(2px) solid $site-black;
  padding: 0 px-to-rem(25px);
  flex-shrink: 0;
  &:hover {
    background-color: $site-white;
    color: $site-black;
    text-decoration: none;
  }
}

.navBarLogo {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav.navBar {
  display: none;
  width: 100%;
  .mainNav {
    width: 100%;
    li {
      cursor: pointer;
      display: inline-block;
      margin: 0 px-to-rem(15px);
      font-size: px-to-rem(18px);

      &:hover {
        color: $site-colour-primary;
        text-decoration: none;
      }
    }
    li.active {
      color: $site-colour-primary;
    }
  }
  @include breakpointTablet {
    display: inherit;
  }
}
