@import "../../../scss/spacing";
@import "../../../scss/colours";
@import "../../../scss/breakpoints";

.headerContainer {
  display: flex;
  flex-direction: column;
  .header {
    display: flex;
    justify-content: space-between;
    > h2 {
      margin-bottom: 0;
    }
  }
  .subHeading {
    color: $site-gray;
  }
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
}

.responsibilitiesList {
  .responsibilityItem {
    margin: px-to-rem(5px);
    padding: px-to-rem(5px);
    border-radius: px-to-rem(5px);
  }
}
