@import "../../../src/scss/spacing";
@import "../../../src/scss/colours";
@import "../../../src/scss/breakpoints";

.blogHeader {
  margin-top: px-to-rem(10px);
  position: relative;
  img {
    width: 100%;
    height: px-to-rem(300px);
  }
  h2 {
    position: absolute;
    bottom: px-to-rem(10px);
    left: px-to-rem(20px);
  }

  @include breakpointTablet {
    img {
      width: 100%;
      height: auto;
      max-height: px-to-rem(700px);
    }
    h2 {
    }
  }
}

.blogPostContainer {
  width: 95%;
  margin: auto;
  margin-bottom: px-to-rem(100px);
  img {
    width: 100%;
    height: auto;
  }
  figcaption {
    text-align: center;
    margin-top: px-to-rem(10px);
    color: $site-gray;
  }
  @include breakpointTablet {
    width: 100%;
  }
}
