@import "./spacing";

$breakpoint-mobile: 320 * $spacing-pixel !default;
$breakpoint-tablet: 768 * $spacing-pixel !default;
$breakpoint-desktop: 1024 * $spacing-pixel !default;

@mixin breakpointTablet {
  @media (min-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin breakpointDesktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}
