$site-white: #ffffff;
$site-black: #000000;

$site-gray: #999999;

$site-colour-primary: #74247a;
$site-colour-secondary: #ffc700;

$site-colour-background: #e7e6e9;
$site-colour-font-default: $site-black;
