@import "../src/scss/fonts.scss";
@import "../src/scss/colours";

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Syne, Fallback, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
  body {
    color: $site-colour-font-default;
    background: $site-colour-background;
  }
}

#__next {
  height: 100%;
}
